.dialogBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dialogBox button {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: none;
}

.closeButton {
    margin-top: calc(100% - 110%);
    margin-left: 100%;
    width: 20px;
    height: 25px;
}