.top-navigation {
    top:0;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #fdefd6;
    justify-content: space-between;
    align-items: center;
}

.top-navigation__header-block {
    display: flex;
    padding:  10px 10px 10px 10px;

}

.top-navigation__name {
    font-size: 20px;
    font-family: 'Calibri';
    letter-spacing: 2px;
    font-weight: bold;
}

.top-navigation__cart {
    width: 25px;
    height: 20px;
}

.top-navigation__hamburger {
    width: 25px;
    height: 35px;
}

.top-navigation__cart-block {
    padding:  10px 10px 10px 10px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
}