.main_page {
    margin-top: 55px;
}

.product_list {
    padding: 10px 10px 10px 10px;
}

.product_list__item {
    list-style-type: none;
    background-color: #f5f5f5;
    margin-bottom: 15px;
}

.product_list h1 {
    padding: 10px 25px 10px 10px;
    font-size: 15px;
}

.product_list p {
    padding: 10px 25px 10px 10px;
}

.product_list a {
    text-decoration: none;
    color: #000;
}

.product_list__book_cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 15px;
}

.product_list__textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_list__book_title {
    font-weight: 700;
}